@import 'variables';

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-family: inherit;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;

  &.primary {
    color: $white;
    background-color: $blue;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &.secondary {
    color: $blue;

    &:hover {
      background-color: $light-blue;
    }
  }
}
