:host {
  flex-grow: 1;
  margin: 0 24px 24px;

  .page-title {
    margin-bottom: 40px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .welcome-img {
      width: 320px;
      margin-bottom: 32px;
    }

    .text-wrapper {
      text-align: center;

      .info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 24px;

        p {
          margin: 0;
        }
      }
    }
  }
}
