:host {
  flex-grow: 1;
  margin: 0 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  h2.page-title {
    margin-bottom: 0;
  }

  &::ng-deep {
    // set table column width by using mat-column-<columnID>
    .mat-column-advertiserId {
      width: 200px;
    }
  }
}
